.x-tip {
    position: relative;
    cursor:pointer;
    display: inline-block;

}
.x-tip .x-tip-container{ color: #149cff;}


.x-tip-dialog {
    cursor: auto;
    display: none;
    position: absolute;
    background: #fff;
    border:1px solid #eee;
    box-shadow:0 0 3px 2px #ccc;
    color: #333;
    z-index: 9999;
    white-space: nowrap;

}

.x-tip-content{
    box-sizing: border-box;
    text-align: left;
    max-height:120px;
    overflow-y:auto;
    overflow-x: hidden;
    word-break: break-all;
}

.x-tip-content p{padding:10px;}

.x-tip-cor{
    position: absolute;
    left: 50%;
    margin-left:-10px;
    bottom: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent;
}

.x-tip-cor span{
    position: absolute;
    left: -10px;
    top:-9px;
    border-width: 10px;
    border-style: solid;
    border-color: #ccc transparent transparent;
    z-index:-1;
}

