body { background: #f3f3f4; font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif; }

.main_c { width: 300px; margin: auto; }

.login_tit { font-size: 20px; margin-top: 200px; text-align: center; margin-bottom: 20px; }

.the-padding-left { background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 2px;;
    font-size: 14px }

.login_btn {
    width: 326px;
    display: block;
    padding: 6px 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #18a689;
    color: #FFFFFF;
}

.copyright { margin-top: 10px; text-align: center; }

.errorMessage { margin-bottom: 10px; }